# ---- Keycloak (Person A) ----
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_HTTP_PORT=8180
KEYCLOAK_REALM=ztac
KEYCLOAK_GATEWAY_CLIENT_ID=ztac-gateway
KEYCLOAK_GATEWAY_CLIENT_SECRET=change-me-in-production
KEYCLOAK_CLI_CLIENT_ID=ztac-cli

# ---- Test users (Person A) ----
TEST_USER_ADMIN=alice
TEST_USER_ADMIN_PASSWORD=alice123
TEST_USER_ANALYST=bob
TEST_USER_ANALYST_PASSWORD=bob123
TEST_USER_VIEWER=charlie
TEST_USER_VIEWER_PASSWORD=charlie123

# ---- OPA (Person B) ----
OPA_HTTP_PORT=8181

# ---- Envoy (Person B) ----
ENVOY_HTTP_PORT=8080

# ---- ELK (Person A) ----
ES_HTTP_PORT=9200
ES_JAVA_OPTS=-Xms512m -Xmx512m
KIBANA_HTTP_PORT=5601
LOGSTASH_TCP_PORT=5044
LOGSTASH_HTTP_PORT=5050

# ---- Protected Service (Person A) ----
PROTECTED_SERVICE_PORT=8000

# ---- Network ----
DOCKER_NETWORK=ztac-net
